.DS_Store
build/
*conan*
graph_info.json
HelloLibrary.xcodeproj/project.xcworkspace/xcshareddata/*
HelloLibrary.xcodeproj/project.xcworkspace/xcuserdata/*
HelloLibrary.xcodeproj/xcuserdata/carlosz.xcuserdatad/*
